<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project), :class => "btn btn-info" %>
<%= link_to 'Back', projects_path,  :class => "btn btn-warning" %> <%= link_to "Create Task", new_project_task_path(@project.id), :class => "btn btn-primary" %>
